.coachee-selected {
  background-color: #ff5548 !important;
}

.user-card-container-border {
  background-color: #86BC25;
  height: 100%;

  padding: 0 10px 10px 10px;
  border-radius: 0px;

  display: grid;
  grid-template-rows: 60px auto;
  grid-template-areas: "dropdown" "body";

  .coachee-dropdown-container {
    grid-area: dropdown;
    padding: 15px 0 10px 0;

    .coachee-dropdown {
      width: 100%;
    }
  }

  .user-card-container {
    grid-area: body;
    background-color: white;
    border-radius: 4px;
    padding: 35px 20px 15px 20px;

    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "user-details" "coach-details";

    .target-details {
      grid-template: 'user-details';

      .user-image {
        border-radius: 35%;
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto
      }

      .name {
        padding-top: 25px;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
      }

      .email {
        padding-top: 10px;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
      }

      .service-area {
        padding-top: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
      }

      .role {
        padding-top: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
      }

      .last-promotion-date {
        opacity: 0.7;
        font-style: italic;
        padding-top: 10px;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
      }

    }

    .coach-details {
      border-top: lightgrey 1px solid;
      grid-template: 'coach-details';
      font-style: italic;
      padding-top: 30px;
      .coach-title {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        opacity: 0.8;
      }

      .coach-name {
        padding-top: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
      }

      .coach-email {
        padding-top: 10px;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
      }
    }

  }
}
