<div class="user-card-container-border" [class.coachee-selected]="coacheeIsSelected()">
  <!--Dropdown will not show if the user has no coachees-->
  <div class="coachee-dropdown-container">
    <sui-select *ngIf="usersCoachees && usersCoachees.length > 0" class="selection coachee-dropdown"
                [(ngModel)]="targetUser"
                [options]="usersCoachees"
                #coacheeDropdown
                [optionFormatter]="formatter"
                #formatted
                placeholder="Select a coachee..."

                (selectedOptionChange)="userChanged()">

      <sui-select-option [value]="currentUser">
      </sui-select-option>

      <div class="header">
        <i class="tags icon"></i>
        Your coachees
      </div>


      <sui-select-option *ngFor="let option of usersCoachees"
                         [value]="option">
      </sui-select-option>
    <!--</sui-select>-->
    </sui-select>
  </div>

  <div class="user-card-container" *ngIf="targetUser">

    <div class="target-details">
      <img class="user-image" [src]="userImageURL">
      <!--Insert the tag for the user image-->
      <div class="name">{{targetUser.first_name}} {{targetUser.last_name}}</div>
      <div class="email"><a href="mailto://{{targetUser.email}}">{{targetUser.email}}</a></div>

      <div class="service-area">{{targetUser.service_area}}</div>
      <div class="role">{{targetUser.role}}</div>
      <div class="last-promotion-date">
        <div *ngIf="targetUser.last_promoted">
          Last promoted {{targetUser.last_promoted | amTimeAgo}}
        </div>
        <div *ngIf="!targetUser.last_promoted">
          No past promotions
        </div>
      </div>
    </div>

    <div class="coach-details">
      <div class="coach-title">Coach Details</div>
      <!-- There should be something more here to replace the social media. Looks boring.-->
      <div class="coach-name">{{targetUsersCoach?.first_name}} {{targetUsersCoach?.last_name}}</div>
      <div class="coach-email"><a href="mailto://{{targetUsersCoach?.email}}">{{targetUsersCoach?.email}}</a></div>
    </div>



  </div>



</div>
