@import "../../../styles";

.reviews-container {
  padding: $page-padding;
  margin-top: 8px;

  .light-message {
    color: #777777;
    font-style: italic;
  }

  .table {

    .review-row {
      display: block;
      //overflow: hidden;
      margin: 3px 0;
      border: 1px solid #eaeaea;
      border-radius: 4px;

      .new-review-container {
        //display: flex;
        //height: 70px;
        padding-top: 15px;


        .new-review-input {
          //flex: 0 0 70%;
          padding-left: 5px;
          overflow: auto;
          //border: none;
          //border-radius: 0.25rem 0 0 0.25rem;
          width: 100%;
          border-radius: 0.25rem;
          border: solid thin rgba(34,36,38,.15);
        }

        .rating-picker {
          .selection {

          }
        }

        .promotion-input {
          height: 2.7em !important;
        }

        .place-review-button-container {
          margin-top: 5px;
        }

      }

      .review-row-header {
        width: 100%;
        background-color: #f7f7f7;
        padding: 5px 10px;
        cursor: pointer;

        .top-row {
          display: block;
          overflow: hidden;
          font-size: 16px;
          color: #515151;

          .top-row-left {
            font-weight: 600;
            float: left;
          }

          .top-row-right {
            float: right;
          }
        }

        .bottom-row {
          font-size: 14px;
          color: #777777;
          display: block;
          overflow: hidden;

          .bottom-row-right {
            float: left;
          }

          .bottom-row-right {
            float: right;
          }
        }
      }

      .review-row-body {
        width: 100%;
        background-color: #fcfcfc;
        padding: 15px;

        .review-section {
          width: 100%;
          padding: 15px 30px 15px 30px;
          margin-top: 15px;
          background-color: #f7f7f7;
          border-radius: 4px;
          border: 1px solid #eaeaea;

          .review-section-header {

          }

          .review-section-body {
            //padding-top: 15px;

            .promo-message {
              padding-top: 15px;
            }

          }
        }

      }
    }
  }
}
