<div class="reviews-container page-wrapper">
  <h2>Reviews</h2>
  <hr>


  <div class="table">
    <div class="review-row" *ngFor="let review of reviews">

      <div class="review-row-header" (click)="toggleReview(review.id)">
        <div class="top-row">
        <span class="top-row-left">
          {{review.year}} {{ review.end_of_year ? 'End of Year' : 'Mid Year'}}
        </span>
          <span class="top-row-right">
            <span *ngIf="review.coach_rating">
              {{review.coach_rating | ratingString}}
              <!--<span *ngIf="review.promotion_milestone"> | {{review.promotion_milestone}}</span>-->
            </span>
            <span *ngIf="!review.coach_rating">

              Not yet rated
            </span>
        </span>
        </div>
        <div class="bottom-row">
        <span class="bottom-row-left">
          <span *ngIf="review.coach_id">
            Reviewed by {{review.coach_id | tipuUserFullName | async}}
          </span>

          <span *ngIf="!review.coach_id">
            Not yet reviewed
          </span>
        </span>
          <span class="bottom-row-right">
          <div *ngIf="review.user_rating">
            <!--@TODO make dynamic working-->
            Self rating of {{review.user_rating | ratingString | lowercase}}
          </div>

          <div *ngIf="!review.user_rating">
            <!--This is the text that would appear if there is no user rating-->
          </div>
        </span>
        </div>
      </div>
      <div class="review-row-body" *ngIf="expandedReviews.has(review.id)">
        <div class="review-section">

          <!-- ================================= COACH COMMENT SECTION ===================================================== -->
          <div *ngIf="review.coach_comment">
            <!-- If the coach ||| HAS ||| reviewed the coachee-->
            <div class="review-section-header light-message">
              <!-- Dynamic wording so that this page works in both coach and coachee view-->
              {{review.user_id !== currentUser.id ? 'You said' : (review.coach_id | tipuUserFirstName | async) + ' said'}}

            </div>
            <div class="review-section-body">
              {{review.coach_comment}}
              <div *ngIf="review.promotion_milestone" class="light-message promo-message">
                {{review.user_id === currentUser.id ? 'You were' : (review.user_id | tipuUserFirstName | async) + ' was'}}
                suggested for the position of {{review.promotion_milestone | lowercase}} in this review
              </div>
            </div>

          </div>

          <div *ngIf="!review.coach_comment">
            <!-- If the coach ||| HAS NOT ||| reviewed the coachee-->
            <div class="light-message" *ngIf="review.user_comment && review.user_id === currentUser.id">
              Your coach has not reviewed you yet
            </div>
            <div class="light-message" *ngIf="!review.user_comment && review.user_id === currentUser.id">
              Your coach can not review you until you have reviewed yourself
            </div>
            <div *ngIf="targetUser.coach_id === currentUser.id" class="review-section-body">
              <div class="new-review-container" *ngIf="review.user_comment">
                <textarea #coachComment class="new-review-input" placeholder="Please enter your review of {{ review.user_id | tipuUserFirstName | async }}..."></textarea>

                <div class="form-row">

                  <div class="col-5">
                    <div class="rating-picker">
                      <sui-select class="selection" style="width: 100%"
                                  [(ngModel)]="selectedRank"
                                  [options]="ranks"
                                  [optionFormatter]="formatter"
                                  #formatted
                                  placeholder="Select a ranking...">

                        <div class="header">
                          <i class="tags icon"></i>
                          Select review ranking
                        </div>

                        <sui-select-option *ngFor="let rank of ranks"
                                           [value]="rank">
                        </sui-select-option>
                      </sui-select>
                    </div>
                  </div>
                  <div class="col-5">

                    <input #promotionInput type="text" class="form-control promotion-input" id="promotion-milestone" placeholder="Enter Promotion (optional)">
                  </div>
                  <div class="col-2">
                    <button [disabled]="coachComment.value === '' || selectedRank === undefined"
                            style="height: 2.7em !important; width: 100%;" (click)="updateCoachComment(review.id, coachComment.value, promotionInput.value)" type="button" class="btn btn-success">Place Review</button>
                  </div>
                </div>

              </div>
              <div class="light-message" *ngIf="!review.user_comment">
                Once your coachee has placed their own feedback you will be able to review them
              </div>
            </div>
          </div>
        </div>



        <!-- ================================= COACHEE COMMENT SECTION ===================================================== -->

        <!-- If the coachee ||| HAS ||| placed feedback -->
        <div *ngIf="review.user_comment">
          <div class="review-section">
            <div class="review-section-header light-message">
              <!-- Dynamic wording so that this page works in both coach and coachee view-->
              {{review.user_id === currentUser.id ? 'You said' : targetUser.first_name + ' said'}}
            </div>
            <div class="review-section-body">
              {{review.user_comment}}
            </div>
          </div>
        </div>

        <!-- If the coachee ||| HAS NOT ||| placed feedback -->
        <div *ngIf="!review.user_comment">
          <div class="review-section">
            <div class="review-section-header light-message">
              <!-- Dynamic wording so that this page works in both coach and coachee view-->
              {{review.user_id === currentUser.id ? 'You have not reviewed yourself yet' : 'Your coachee has not reviewed themself yet'}}
            </div>
            <div *ngIf="review.user_id === currentUser.id" class="review-section-body">
              <div class="new-review-container">
                <textarea #userComment class="new-review-input" placeholder="Please enter your review of yourself..."></textarea>
                <!--<div class="slider-container">-->
                  <!--<app-slider class="slider"></app-slider>-->
                <!--</div>-->

                <div class="row">
                  <div class="col-5" style="padding-right: 0 !important;">
                    <div class="rating-picker">
                      <sui-select class="selection coachee-dropdown" style="width: 100%"
                                  [(ngModel)]="selectedRank"
                                  [options]="ranks"
                                  [optionFormatter]="formatter"
                                  #formatted
                                  placeholder="Select a ranking...">

                        <div class="header">
                          <i class="tags icon"></i>
                          Select review ranking
                        </div>


                        <sui-select-option *ngFor="let rank of ranks"
                                           [value]="rank">
                        </sui-select-option>
                        <!--</sui-select>-->
                      </sui-select>
                    </div>
                  </div>
                  <div class="col-2">
                    <button [disabled]="userComment.value === '' || selectedRank === undefined"
                      style="height: 2.7em !important; width: 100%;" (click)="updateCoacheeComment(review.id, userComment.value)" type="button" class="btn btn-success">Place Review</button>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
