<div class="user-page-container">

  <div class="view-switcher">
    <h2 class="heading">User Statistics</h2>
    <hr style="margin-left: 20px; margin-right: 20px">
    <ul class="nav nav-tabs">

      <li class="nav-item view-tab">
        <a class="nav-link" [class.active]="!coachView" (click)="coachView = false;">You</a>
      </li>
      <li class="nav-item" *ngIf="showCoacheeTab">
        <a class="nav-link" [class.active]="coachView" (click)="coachView = true;">Your coachees</a>
      </li>
    </ul>
  </div>

  <div class="container-body">

    <div *ngIf="coachView" class="coach-view">
      <div class="coach-view-container" *ngIf="currentUser">
        <!--This is the coach view for {{currentUser.first_name}} {{currentUser.last_name}}-->
        <div class="top-left">
          <highcharts-chart *ngIf="coacheeBar.options" [Highcharts]="Highcharts" [options]="coacheeBar.options"></highcharts-chart>
        </div>
        <div class="top-right">
          <highcharts-chart *ngIf="coacheeGoals.options" [Highcharts]="Highcharts" [options]="coacheeGoals.options"></highcharts-chart>
        </div>
        <div class="bottom">
          <highcharts-chart *ngIf="coacheeOverTime.options" [Highcharts]="Highcharts" [options]="coacheeOverTime.options"></highcharts-chart>
        </div>
      </div>
    </div>

    <div *ngIf="!coachView" class="user-view">
      <div class="user-view-container" *ngIf="currentUser">
        <!--This is the user view of {{currentUser.first_name}} {{currentUser.last_name}}-->

        <div class="top-left">
          <highcharts-chart *ngIf="barChart.options" [Highcharts]="Highcharts" [options]="barChart.options"></highcharts-chart>
        </div>
        <div class="top-right">
          <highcharts-chart *ngIf="pieChart.options" [Highcharts]="Highcharts" [options]="pieChart.options"></highcharts-chart>
        </div>
        <div class="bottom">
          <highcharts-chart *ngIf="overTime.options" [Highcharts]="Highcharts" [options]="overTime.options"></highcharts-chart>
        </div>
      </div>
    </div>
  </div>
</div>
