@import "../../../styles";

.user-page-container {

  height: 100%;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas: "tabs"
                        "body";

  .view-switcher {
    grid-area: tabs;

    .heading {
      padding: 0 0 0 20px;
      margin-top: 8px;
    }

    .view-tab {
      padding-left: 20px;

    }
  }


  .container-body {
    grid-area: body;
    padding: 15px 15px 0 15px;
    height: 100%;

    highcharts-chart {
      display: block;
      height: 100%;
      width: 100%;
    }

    .user-view {
      height: 100%;

      .user-view-container {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "top-left top-right"
        "bottom bottom";

        .top-left {
          grid-area: top-left;
        }

        .top-right {
          grid-area: top-right;
        }

        .bottom {
          grid-area: bottom;
        }

      }

    }

    .coach-view {
      height: 100%;

      .coach-view-container {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "top-left top-right"
        "bottom bottom";

        .top-left {
          grid-area: top-left;
        }

        .top-right {
          grid-area: top-right;
        }

        .bottom {
          grid-area: bottom;
        }

      }
    }
  }
}

.nav-link {
  cursor: pointer;
  color: blue;
}

