.main-container {
  display: grid;
  grid-template-columns: 1fr 18fr 4fr;
  grid-template-areas: "navigation router user-card";

  .navigation-container {
    grid-area: navigation;
  }

  .router {
    height: 100vh;
    grid-area: router;
    overflow-y: auto;
  }

  .user-card {
    grid-area: user-card;
  }

}

.no-user-card {
  grid-template-columns: 1fr 22fr !important;
}

.no-navbar {
  grid-template-columns: 1fr !important;
  grid-template-areas: "router" !important;

  .navigation {
    display: none;
  }
}




