<div class="main-container" [class.no-user-card]="getURL() == '/login' || getURL() === '/stats'"
[class.no-navbar]="getURL() === '/login'">
  <div class="navigation-container">
      <app-navigation class="navigation"></app-navigation>
  </div>
  <div class="router">
    <router-outlet></router-outlet>
  </div>

  <app-user-card [style.display]="'/login' === getURL() || '/stats' === getURL()
   ? 'none' : 'block'" class="user-card" (userUpdate)="updateUser($event)"></app-user-card>

</div>

