@import "../../../styles";
@import url('https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css');

.goals-container {
  margin-top: 8px;

  padding: $page-padding;

  .table {
    overflow: hidden;

    .new-goal {
      margin-bottom: 5px !important;

      .row-header {
        font-weight: 600;
        background-color: #c5e5a9 !important;
      }

      .row-body {

        .date-picker {
          width: 50%;
        }

        .buttons {

          padding-top: 20px;

          .buttons-left {
            float: left;
          }

          .buttons-right {
            float: right;
          }
        }
      }
    }

    .row {
      width: 100%;
      overflow: hidden;
      margin: 3px 0;
      border: 1px solid #eaeaea;
      border-radius: 4px;

      .expanded {
        background-color: #f2f2f2 !important;
      }

      .row-header {
        width: 100%;
        background-color: #f7f7f7;
        padding: 5px 10px;
        cursor: pointer;

        .top-row {
          font-size: 16px;
          color: #515151;

          .top-row-left {
            font-weight: 600;
          }

          .top-row-right {
            float: right;
          }
        }

        .bottom-row {
          font-size: 14px;
          color: #777777;
          padding-top: 4px;

          .bottom-row-left {

          }

          .bottom-row-right {
            float: right;
          }

        }
      }

      .row-body {
        width: 100%;
        background-color: #fcfcfc;
        padding: 15px;

        .goal-footer {
          overflow: hidden;

          .control-bar {
            float: right;
            color: #777777;
          }
        }

        .goal-body {

        }

      }
    }
  }
}


