<div class="goals-container page-wrapper">
  <h2>Goals</h2>
  <hr>

  <div class="table">

    <!-- This row can be expanded to add a new goal-->
    <div class="new-goal row">
      <div class="row-header" (click)="toggleGoal(-1)">
        Add a new goal
      </div>

      <div class="row-body" *ngIf="expandedGoals.has(-1)">
        <div #newGoalForm>
          <div class="form-group">
            <label>Title</label>
            <input #title type="text" class="form-control" placeholder="Goal title">
          </div>

          <div class="form-group">
            <label>Description</label>
            <input #description type="text" class="form-control" placeholder="Goal description">
          </div>

          <div class="form-group date-picker">
            <app-date-picker-button (update)="updateDate($event)" [textWhileEnabled]="'Remove end date'" [textWhileDisabled]="'Add end date'"></app-date-picker-button>
          </div>
        </div>

        <div class="buttons">

          <span class="buttons-left">
          <button [disabled]="title.value === '' || description.value === ''" type="button" class="btn btn-lg btn-success" (click)="createGoal(title.value, description.value); newGoalForm.reset(); closeGoal(-1)">Add goal</button>
        </span>
          <span class="buttons-right">
          <button type="button" class="btn btn-lg btn-danger" (click)="closeGoal(-1)">Cancel</button>
        </span>
        </div>
      </div>
    </div>



     <!--These rows show all current goals (clickOutside)="closeGoal(goal.id)"-->
    <div *ngIf="goals?.length > 0">
      <div *ngFor="let goal of goals.reverse()" class="row" >
        <div class="row-header" [class.expanded]="expandedGoals.has(goal.id)" (click)="toggleGoal(goal.id)">
          <div class="top-row">
          <span class="top-row-left">
            {{goal.title}}
          </span>
            <span class="top-row-right">

            <span *ngIf="!goal.complete">Updated {{goal.last_update | amTimeAgo }}</span>
            <span *ngIf="goal.complete">Completed {{goal.date_finished | amTimeAgo}}</span>
          </span>
          </div>
          <div class="bottom-row">
          <span class="bottom-row-left">
            #{{goal.id}} &middot; created {{goal.date_made | date: 'mediumDate'}} by {{goal.setter_id | tipuUserFullName | async}}
          </span>
            <span class="bottom-row-right">
            <div *ngIf="!goal.end_date">No end date set</div>
            <div *ngIf="goal.end_date">
              {{isInFuture(goal.end_date) ? 'Ends' : 'Ended'}} {{goal.end_date | amTimeAgo}}</div>
          </span>
          </div>
        </div>

        <div class="row-body" *ngIf="expandedGoals.has(goal.id)">

          <div class="goal-body">
            {{goal.description}}
          </div>

          <div class="goal-footer">
          <span class="control-bar">
            <span class="pointer" (click)="updateGoalModal(updateGoalTemplate, goal.id)">update</span> &middot;
            <span class="pointer" (click)="confirmDeleteGoal(confirmDeleteTemplate, goal.id)">delete</span>
        </span>
          </div>
          <app-comment-thread [targetID]="goal.id" [targetType]="commentType"></app-comment-thread>
        </div>


        <!-- GOAL SPECIFIC MODAL TEMPLATES -->

        <!--Confirm delete template-->
        <ng-template #confirmDeleteTemplate>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Confirm Delete</h4>
          </div>
          <div class="modal-body">
            <div>Are you sure you want to delete this goal?</div>
            <br>
            <button (click)="deleteGoal(goal.id)" type="button" class="btn btn-success">Yes</button>
            <button (click)="closeModal()" style="float: right" type="button" class="btn btn-danger">No</button>
          </div>
        </ng-template>

        <!--Update goal details template-->
        <ng-template #updateGoalTemplate>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Update Goal Details</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Title</label>
              <input #newTitle type="text" class="form-control" value="{{goal.title}}">
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea #newDescription type="text" class="form-control" value="{{goal.description}}"></textarea>
            </div>

            <div class="form-group">
              <label>End Date</label>
              <app-date-picker-button [textWhileDisabled]="'Add Date'" [textWhileEnabled]="'Remove Date'"
                                      [dateString]="goal.end_date" (update)="updateUpdateDate($event)"></app-date-picker-button>
            </div>


            <br>
            <button (click)="closeModal()" style="float: left; margin-right: 5px" type="button" class="btn btn-danger">Cancel</button>
            <button (click)="updateGoal(goal.id, newTitle.value, newDescription.value, updateIncludeDate ? updatePickerDate : null)"
                    type="button" class="btn btn-success">Save</button>

            <button *ngIf="!goal.complete" (click)="updateGoalCompletion(goal.id, true); closeModal()" style="float: right" type="button" class="btn btn-info">Mark As Complete</button>
            <button *ngIf="goal.complete" (click)="updateGoalCompletion(goal.id, false); closeModal()" style="float: right" type="button" class="btn btn-warning">Mark As Incomplete</button>

          </div>
        </ng-template>


      </div>
    </div>
  </div>
</div>


