@import "../../../styles";

.date-picker-container {
  //display: flex;
  text-align: center;
  height: 35px;
  line-height: 35px;

  .row {
    max-height: 35px !important;
  }

  :hover {
    cursor: pointer;
  }

  .square-up-left {
    border-radius: 0.25rem 0 0 0.25rem !important;
  }

  .left {
    //flex: 0 0 30%;
    border: solid thin $deloitte-green;
    border-radius: 0.25rem;
    background-color: #c5e5a9;
  }

  .right {
    //flex: 0 0 20%;
    border-right: solid thin $deloitte-green;
    border-top: solid thin $deloitte-green;
    border-bottom: solid thin $deloitte-green;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: white;

    .date-picker {
      opacity: 0;
      position: relative;
      top: -35px
    }

  }
}
