<div class="date-picker-container container">
  <div class="row">
    <div class="left col-6" (click)="open = !open; emitUpdate()" [class.square-up-left]="open">
      <div *ngIf="!open">{{textWhileDisabled}}</div>
      <div *ngIf="open">{{textWhileEnabled}}</div>
    </div>
    <div class="right col-6" *ngIf="open" (click)="dp.show()">
      <div>{{date | date: 'mediumDate'}}</div>
      <input bsDatepicker #dp="bsDatepicker" type="text" class="date-picker" [(ngModel)]="date" (bsValueChange)="emitUpdate($event)">
    </div>
  </div>
</div>

