<div class="comment-thread">

  <div class="new-comment-container">
    <textarea #newComment class="new-comment-input"></textarea>
    <div class="new-comment-post-button" (click)="createComment(newComment);">
      Comment
    </div>
  </div>

  <div class="comments-list-container">
    <!--comments here-->
    <div class="loading" *ngIf="!comments">Loading comments</div>

    <!--<div class="no-comments" *ngIf="comments.length < 1">There are no comments to show</div>-->

    <div class="comments-list">
      <app-comment *ngFor="let comment of getMainComments()" [comment]="comment" [replies]="getReplies(comment.id)"
                   (delete)="deleteComment($event.id);"
                   (update)="updateComment($event.id, $event.content)"
                   (reply)="createComment($event.content, $event.id)"
      ></app-comment>
    </div>
  </div>
</div>
