@import "../../../styles";

.comment-thread {
  width: 100%;
  padding: 15px 30px 15px 30px;
  margin-top: 15px;
  background-color: #f7f7f7;
  border-radius: 4px;
  border: 1px solid #eaeaea;

  .new-comment-container {
    display: flex;
    height: 35px;
    border-radius: 0.25rem;
    border: solid thin $deloitte-green;

    .new-comment-input {
      flex: 0 0 90%;
      padding-left: 5px;
      overflow: auto;
      border: none;
      border-radius: 0.25rem 0 0 0.25rem;
    }

    .new-comment-post-button {
      flex: 0 0 10%;
      text-align: center;
      line-height: 35px;
      background-color: #c5e5a9;
      cursor: pointer;
    }


  }

  .comments-list {
    .comment {
      padding: 5px 10px 5px 10px;
      margin: 10px 20px 10px 20px;

      //width: 100%;
      background-color: white;
      border-radius: 4px;
      border: 1px solid #eaeaea;
    }

    .reply {

      padding: 5px 10px 5px 10px;
      margin: 10px 20px 10px 20px;

      //width: 100%;
      background-color: #fbfbfb;
      border-radius: 4px;
      border: 1px solid #d3d3d3;

    }
  }

  .no-comments {

  }

}
