@import "../../../styles";


.login-container {
  width: 320px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 5px solid $deloitte-green;
  margin: 30vh auto 0 auto;
}

.login-container h1 {
  text-align: center;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 0 20px 0 15px;
  outline: none;
}

.login-container button {
  width: 100%;
  height: 40px;
  background: $deloitte-green;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #79bc4b;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.login-container button:hover {
  background: rgba(134, 188, 37, 0.7);
}


