<form class="login-container">
  <h1>Sign In</h1>
  <input #userID autofocus type="text" value="16" placeholder="User ID"/>
  <!--<input type="password" value="" placeholder="Password"/>-->
  <button type="submit" (click)="login(userID.value)">Enter</button>
</form>
