@import "../../../styles";

.sidebar {
  height: 100vh;
  width: 100%;
  background-color: $deloitte-green;
  position: relative;


  .sidebar-item {
    display:block;
    padding: 18px 10px;
    text-align:center;
    text-decoration: none;

    .link-tag {
      font-weight: 600;
      color: black;


    }

    .active-link-tag {
      font-weight: 600;
      color: white;
    }

    .d-icon {
      content: url("../../../assets/icons/dlogo.jpg");
      position: absolute;
      text-align: center;
      bottom: 2px;
      left: 0.6vh;
      height: 90px;
      width: 88px;
    }


    .stats-icon {
      content: url("../../../assets/icons/stats-black.png");
      height: 100%;
      width: 100%;
      min-height: 60px;
      min-width: 60px;

      &:hover {
        content: url("../../../assets/icons/stats-white.png");
      }
    }

    .stats-icon-active {
      content: url("../../../assets/icons/stats-white.png");
      height: 100%;
      width: 100%;
      min-height: 60px;
      min-width: 60px;

    }

    .goals-icon {
      content: url("../../../assets/icons/goal-black.png");
      height: 100%;
      width: 100%;
      min-height: 60px;
      min-width: 60px;

      &:hover {
        content: url("../../../assets/icons/goal-white.png");
      }
    }

    .goals-icon-active {
      content: url("../../../assets/icons/goal-white.png");
      height: 100%;
      width: 100%;
      min-height: 60px;
      min-width: 60px;

    }

    .reviews-icon {
      content: url("../../../assets/icons/review-black.png");
      height: 100%;
      width: 100%;
      min-height: 60px;
      min-width: 60px;


      &:hover {
        content: url("../../../assets/icons/review-white.png");
      }
    }

    .reviews-icon-active {
      content: url("../../../assets/icons/review-white.png");
      height: 100%;
      width: 100%;
      min-height: 60px;
      min-width: 60px;

    }

    .logout-icon {
      content: url("../../../assets/icons/logout-black.png");
      height: 100%;
      width: 100%;
      min-height: 60px;
      min-width: 60px;

      &:hover {
        content: url("../../../assets/icons/logout-white.png");
      }
    }

  }
}
