<div class="sidebar">

  <a routerLink="/reviews" [routerLinkActive]="[updateActive()]" class="sidebar-item">
    <img [class]="isActive('/reviews') ? 'reviews-icon-active' : 'reviews-icon'"/>
    <span [class]="isActive('/reviews') ? 'active-link-tag' : 'link-tag'">REVIEWS</span>
  </a>

  <a routerLink="/goals" [routerLinkActive]="[updateActive()]" class="sidebar-item">
    <img [class]="isActive('/goals') ? 'goals-icon-active' : 'goals-icon'"/>
    <span [class]="isActive('/goals') ? 'active-link-tag' : 'link-tag'">GOALS</span>
  </a>

  <a routerLink="/stats" [routerLinkActive]="[updateActive()]" class="sidebar-item">
    <img [class]="isActive('/stats') ? 'stats-icon-active' : 'stats-icon'"/>
    <span [class]="isActive('/stats') ? 'active-link-tag' : 'link-tag'">STATS</span>
  </a>

  <a (click)="logout()" class="sidebar-item" style="position: absolute; bottom: 0; padding-bottom: 10px !important;">
    <img style="padding-bottom: 5px;" class="logout-icon"/>
    <span class="link-tag">LOGOUT</span>
  </a>
</div>
