@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$deloitte-green: #86BC25;
$page-padding: 0 20px 0 20px;

* {
  font-family: 'Open Sans', sans-serif;
}

.pointer {
  cursor: pointer;
}

hr {
  margin: 1px 0 10px 0;
}

