@import "../../../../styles";

.comment-container {
  padding: 5px 10px 5px 10px;
  margin: 10px 0 10px 0;

  //width: 100%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;



  .comment {
    padding: 5px 10px 0 10px;

    .comment-content {
      padding-bottom: 5px;
    }
  }

  .comment-footer {
    overflow: hidden;
    padding-top: 5px;
    color: #777777;

    .comment-footer-left {
      float: left;
    }

    .comment-footer-right {
      float: right;
    }

  }

  .replies-list {
    .reply {
      padding: 5px 10px 5px 10px;
      margin: 10px 20px 0 20px;

      //width: 100%;
      background-color: #fbfbfb;
      border-radius: 4px;
      border: 1px solid #d3d3d3;

      .reply-content {
        padding-bottom: 5px;
      }

    }
  }

  .divider {
    width: 100%;
    border-top: solid thin #d3d3d3;
    margin: 10px 0;

  }

  .divider-light {
    border-top: solid thin #e8e8e8 !important;

  }

  .new-reply-container {
    display: flex;
    height: 35px;
    border-radius: 0.25rem;
    border: solid thin #e6e6e6;

    .new-comment-input {
      flex: 0 0 90%;
      padding-left: 5px;
      overflow: auto;
      border: none;
      border-radius: 0.25rem 0 0 0.25rem;
    }
    .new-reply-post-button {
      flex: 0 0 10%;
      text-align: center;
      line-height: 35px;
      background-color: #f7f7f7;
    }
  }
}
