<div class="comment-container">
  <div class="comment">

    <div class="comment-content">
      {{comment.content}}
    </div>

    <div class="divider-light"></div>

    <div class="comment-footer">
      <div class="comment-footer-left">
        {{comment.timestamp | date: 'mediumDate'}} <b>  &middot;  </b> {{comment.commenter_id | tipuUserFullName | async}}
      </div>
      <div class="comment-footer-right">
        <span class="pointer" (click)="openTemplateInModal(editCommentTemplate)">edit</span> <b>  &middot;
      </b> <span class="pointer" (click)="openTemplateInModal(confirmDeleteTemplate)">delete</span>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="replies-list" *ngIf="replies.length > 0">
    <div class="reply" *ngFor="let reply of replies">

      <div class="reply-content">
        {{reply.content}}
      </div>

      <div class="divider-light"></div>

      <div class="comment-footer">
        <div class="comment-footer-left">
          {{reply.timestamp | date: 'mediumDate'}} <b>  &middot;  </b> {{reply.commenter_id | tipuUserFullName | async}}
        </div>
        <div class="comment-footer-right">
          <span class="pointer" (click)="openTemplateInModal(editReplyTemplate)">edit</span> <b>  &middot;
        </b> <span class="pointer" (click)="openTemplateInModal(confirmDeleteReply)">delete</span>
        </div>
      </div>

      <ng-template #confirmDeleteReply>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Confirm Delete</h4>
        </div>
        <div class="modal-body">
          <div>Are you sure you want to delete this reply?</div>
          <br>
          <button (click)="deleteComment(reply)" type="button" class="btn btn-success">Yes</button>
          <button (click)="closeModal()" style="float: right" type="button" class="btn btn-danger">No</button>
        </div>
      </ng-template>

      <ng-template #editReplyTemplate>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Edit comment</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" #newReply value="{{reply.content}}"></textarea>
          <br>
          <button (click)="editComment(reply, newReply.value)" type="button" class="btn btn-success">Save</button>
          <button (click)="closeModal()" style="float: right" type="button" class="btn btn-danger">Cancel</button>
        </div>
      </ng-template>

    </div>
  </div>

  <div class="divider" *ngIf="replies.length > 0"></div>

  <div class="new-reply-container">
    <textarea #newReply title="new-comment" class="new-comment-input"></textarea>
    <div class="new-reply-post-button pointer" (click)="createReply(newReply)">
      Reply
    </div>

  </div>
</div>


<ng-template #confirmDeleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm Delete</h4>
  </div>
  <div class="modal-body">
    <div>Are you sure you want to delete this goal?</div>
    <br>
    <button (click)="deleteComment(comment)" type="button" class="btn btn-success">Yes</button>
    <button (click)="closeModal()" style="float: right" type="button" class="btn btn-danger">No</button>
  </div>
</ng-template>

<ng-template #editCommentTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit comment</h4>
  </div>
  <div class="modal-body">
    <textarea class="form-control" #newComment value="{{comment.content}}"></textarea>
    <br>
    <button (click)="editComment(comment, newComment.value)" type="button" class="btn btn-success">Save</button>
    <button (click)="closeModal()" style="float: right" type="button" class="btn btn-danger">Cancel</button>
  </div>
</ng-template>

